@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
html{
  margin: 0;
  padding: 0;
 top:0;
 left:0;
 bottom:0;
 right:0;
  
}
.login {

  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./imag/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

