@import url('https://fonts.googleapis.com/css2?family=Balthazar&family=Teko&display=swap');
.galeria{
    width: 100vw;
    height: 100vh;
    background-image:  url('../Servicos/imag/servico.png');
    
   
  }
  .galeria .titulo-gal{
    color: white;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   padding: 6rem 0 0 0;
   font-family: 'Balthazar', serif;
  
     font-size: 3.7rem;
  
  }

.galery-barb{
  
  margin: 0.2rem 0 0 26rem;
  padding:0 0 0 0;
  width:40vw;
  
}


.galery-barb .thumb{
  width: 100px;
  height: 40px;
 
}




  


  @media screen and (max-width: 480px){
    
    .galeria{
        width: 100vw;
        height: 100vh;
        background-image:  url('../Servicos/imag/servico.png');
        /* background-color: rgba(0,0,0,0.8); */
       
      }
      .galeria p{
        color: white;
       display: flex;
       justify-content: center;
       align-items: flex-start;
       padding: 5rem 0 0 0;
       font-family: 'Balthazar', serif;
      
         font-size: 3rem;
      
      }
      
   
      .galery-barb{
  
        margin: 1.5rem 0 0 1rem;
        width:90vw;
       
      }
      
      
      .galery-barb .thumb{
        width: 100px;
        height: 50px;
       
      }
  
      
      
  
  }
  
  
  /*@media screen and (min-width: 321px) and (max-width: 968px) {}
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {}
  
  @media screen and (min-width: 1025px) and (max-width: 1200px) {}
  
  @media screen and (min-width: 1201px) and (max-width: 1240px) {}
  
  @media screen and (min-width: 1241px) and (max-width: 1920px) {}
  @media screen and (min-width: 1920px) and (max-width: 2560px)  {}*/