@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil&display=swap');

.quem-somos{
    background: linear-gradient( rgba(0,0, 0, 0.7), rgba(0, 0, 0, 0.6)),url(./imag/pexels-nikolaos-dimou-022.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
  }
  
  .quem-somos p{
    
    color: white;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   padding: 6rem 0 0 0.5rem;
   font-family: 'Stardos Stencil', cursive;
     font-size: 5rem;
  
  }
  
  .quem-somos pre{
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    padding: 4rem 0 0 10rem;
  }

  /* SKILL  */

 



  .quem-somos .body-part-2 {
  position: static;
  z-index: 1000;
}

  .background-circle {
  background: transparent;
  top: 500rem;
  margin-right: 8rem;
  width: 300px;
  height: 100px;
  z-index: 9;
  box-shadow: 0 0 20px transparent;
}

.quem-somos .body-part-2  .hoodie-guy {
  position: absolute;
  background: url(./imag/imagSVG/Hoodie-guy.png);
  left:64rem;
  top: 350px;
  height: 250px;
  width: 250px;
  background-size: cover;
  z-index: 1000;
}

.quem-somos .body-part-2 .circle {
  position: relative;
  top: 350px;
  left: 100px;
  width: 20px;
  height: 20px;
  transform-style: preserve-3d;
  animation: animateCircle 40s linear infinite;
}

@keyframes animateCircle {
  0% {
    transform: perspective(5000px) rotateY(0deg) rotateX(15deg)
      translateY(-30px);
  }
  100% {
    transform: perspective(5000px) rotateY(360deg) rotateX(15deg)
      translateY(-30px);
  }
}

.quem-somos .body-part-2 .circle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 10%;
  background-color: transparent;
  box-shadow: 0px 0px 5px transparent;
  border-radius: 50%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * calc(360deg / 15))) translateZ(300px);
}
.quem-somos .body-part-2 .circle span img {
  position: relative;
  top: 12px;
  left: 12px;
  object-fit: cover;
}