@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}
.header {
  
    
    width: 100vw;
    height: 18vh;
    padding: 3.2rem 2rem 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: linear-gradient( rgba(0,0,0,.7),rgba(0,0,0,.7 ));
    
    font-size: 1.2rem;
    position: fixed;
    margin-top: -3rem;
  }
  .logo{
    margin-top: -0.5rem;
    width: 5.5vw;
    margin-left: -0.5rem
   

}
.logo-nome{
  display: flex;
  margin: 0.8rem 13rem 1rem -3rem;
  color: #fff;
  font-family: 'Metal Mania', cursive;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
  
  .menu {
    display: flex;
    list-style: none;
    gap: 0.4rem;
  }
  
 .menu a {
  
  font-family: 'Montserrat', sans-serif;
    display: block;
    padding: 1rem;
    color: white;
  }
 .menu .efect a::before {
  margin-left: auto;
}

.menu .efect a::after, .menu .efect a::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #ED8C1A;
  display: block;
  transition: 0.5s;
}

.menu .efect a:hover::after, .menu .efect a:hover::before {
  width: 100%;
}
 .cadastro{
  
    background-color: transparent;
    margin-top: -1rem;
    margin-right: -1.5rem;
    padding: 0.2rem 1rem 0.3rem 1rem;
    border: 1px solid  #ED8C1A;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    border-radius: 1rem;
    color: #ED8C1A;
    font-size: 1rem;
    font-weight: bold;
  }

  .cadastro:hover{
    background:#ED8C1A;
    color: #000;
    border:1px solid transparent;
    font-weight: bold;
  }

  /*botão Login*/
  .btn-conteiner {
    display: flex;
    justify-content: center;
    --color-text: #000;
    --color-background: #ED8C1A;
    --color-outline:#ED8C1A;
    --color-shadow: #ED8C1A;
    padding: 0rem 0.1rem 0rem 0.1rem;
  }
  
  .btn-conteiner:hover{
   display: flex;
    justify-content: center;
    --color-text: #ED8C1A;
    --color-background: #000;
    --color-outline: #ED8C1A;
    --color-shadow: #ED8C1A;
  
  }
  
  .btn-content {
    display: flex;
    align-items: center;
    padding: 0rem 1.4rem 0rem 1rem;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 1rem;
    box-shadow: 0 0 0.2rem 0 var(--color-background);
  }
  
  .btn-content:hover, .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1rem solid transparent;
    outline-offset: 0.1rem;
    box-shadow: 0 0 0.1rem 0 var(--color-background);
  }
  
  .btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0rem;
    transform: scale(0.6);
  }
  
  .btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 1rem;
  }
  
  .icon-arrow {
    width: 0.5rem;
    margin-left: 0.1rem;
    position: relative;
    top: 6%;
  }
    
  /* SVG */
  #arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  #arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  .btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  @keyframes color_anim {
    0% {
      fill: #ED8C1A;
    }
  
    50% {
      fill: var(--color-background);
    }
  
    100% {
      fill: #ED8C1A;
    }
  }
  
  
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.1rem solid var(--color-background);
      outline-offset: 0;
    }
  }
  
  @keyframes btn-content {
    0% {
      outline: 0.1rem solid var(--color-background);
      outline-offset: 0;
    }
  }

